body {
  background: #57554f;
  position: relative;
  overflow: hidden;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.firefox .hidden {
  /* in firefox the opacity needs to be above 0, e.g. 0.000000000000000001 for the scene to get data from the video */
  opacity: 0.000000000000000001;
}

.active {
  background-color: #948f89 !important;
}

#play-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
}

.scenes-1 canvas {
  width: 100%;
}

.scenes-2 canvas {
  width: 50%;
}

.scenes-3 canvas {
  width: calc(100% / 3);
}

.scenes-1 #canvas-2,
.scenes-1 #canvas-3 {
  display: none !important;
}

.scenes-2 #canvas-3 {
  display: none !important;
}

.overlay canvas {
  position: absolute;
}

.overlay-full-width canvas {
  width: 100% !important;
}

video {
  max-width: 320px;
  width: auto;
  height: auto;
}

#gui-canvas-1 {
  left: 0px;
  right: auto;
}

#gui-canvas-2 {
  left: 50%;
  right: auto;
}

#gui-canvas-3 {
  right: auto;
  left: calc(100% / 1.5);
  display: none;
}

.scenes-3 #gui-canvas-2 {
  left: calc(100% / 3);
}
.scenes-3 #gui-canvas-3 {
  display: block;
}

[id^='r3d-video'] {
  position: absolute;
}

#r3d-canvas {
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  width: auto;
}

#toolbar {
  width: 60px;
  height: 100%;
  border-left: 2px solid #ffffff;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99999;
  background: #57554f88;
}

#toolbar a {
  width: 60px;
  height: 60px;
  border: none;
  border-bottom: 2px solid #fff;
  background: transparent no-repeat center center;
  padding: 0;
  display: block;
  margin: 0;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  line-height: 56px;
  font-weight: bold;
}

#toolbar a:hover {
  background-color: rgb(113, 104, 93);
}

#toolbar div {
  border-bottom: 2px solid #fff;
}

#toolbar input {
  transform: rotate(-90deg);
  width: 90px;
  height: 60px;
  margin: 15px -30px;
}

#slider-noise {
  padding: 15px;
  height: 120px;
}

#slider-pointsize {
  padding: 15px;
}

#toolbar a#button-reset {
  background-image: url(../images/reset.svg);
  color: transparent;
}

#toolbar a#button-arrange {
  background-image: url(../images/arrange.svg);
  color: transparent;
}

#toolbar a#button-overlay {
  background-image: url(../images/overlay.svg);
  color: transparent;
}

#toolbar a#button-fx {
  background-image: url(../images/fx.svg);
  color: transparent;
}

#toolbar a#button-play {
  background-image: url(../images/play.svg);
  color: transparent;
}
#toolbar a#button-pause {
  background-image: url(../images/pause.svg);
  color: transparent;
}

/* slider */
input[type='range'] {
  -webkit-appearance: none;
  background: transparent;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 42px;
  cursor: pointer;
  background: #e3e3e3;
  border-radius: 25px;
  border: 1px solid #999;
}
input[type='range']::-webkit-slider-thumb {
  border: 1px solid #e3e3e3;
  background: #333;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border-radius: 25px;
  -webkit-appearance: none;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: #e3e3e3;
}

#camera-angles {
  position: absolute;
  top: 0;
  left: 0;
}

#separator-1,
#separator-2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 2px;
  background: #ffffff;
}

#separator-1 {
  left: 50%;
}

#separator-2 {
  left: calc(100% / 1.5);
}

.scenes-1 #separator-1,
.scenes-1 #separator-2 {
  display: none;
}

.scenes-2 #separator-2 {
  display: none;
}

.scenes-3 #separator-1 {
  left: calc(100% / 3);
}

.overlay #separator-1,
.overlay #separator-2 {
  display: none !important;
}
