body {
    position: relative;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

#play-btn-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

canvas
{
    width: 50%;
    height: 100%;
    display: block;
}

#gui-canvas-1 {
    left: 15px;
    right: auto;
}
